<FilesMatch "\.(txt|zip|html|gif|jpeg|png|flv|swf|ico)$">
Header set Cache-Control: "max-age=600"
</FilesMatch>

<FilesMatch "\.xml$">
Header set Cache-Control: "max-age=300"
</FilesMatch>

IndexIgnore *
Options +FollowSymLinks All -Indexes
